* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    background: #111;
    color: #eee;
    font: 90%/1.5 'Segoe UI', Ubuntu, Helvetica, Arial, sans-serif;
}

.app-view {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 591px;
    column-gap: 1rem;
}

.shudan-vertex .shudan-selection {
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, .4);
}

.tool-bar {
        display: flex;
        list-style: none;
    }
    .tool-bar li.spacer {
        flex-grow: 1;
    }
    .tool-bar li a {
        display: flex;
        padding: .5rem;
        color: #777;
        line-height: 16px;
    }
    .tool-bar li.button a {
        text-decoration: none;
    }
    .tool-bar li.current a {
        background: #222;
    }
    .tool-bar li a strong {
        margin-left: .5rem;
        color: white;
        font-variant-numeric: tabular-nums;
        font-weight: normal;
}

.side-bar {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    width: 250px;
    background: #222;
}

.peer-list ul {
        list-style: none;
        padding: .25rem 0;
        max-height: calc((.5rem + 1.5rem) * 3 + .5rem);
        overflow: auto;
    }
    .peer-list .peer > a {
        display: flex;
        padding: .25rem .5rem;
        color: #999;
        text-decoration: none;
    }
    .peer-list .peer.self > a {
        cursor: default;
    }
    .peer-list .peer:not(.self) > a:hover {
        background-color: #333;
    }
    .peer-list .peer .color {
        width: 1rem;
        height: 1rem;
        margin: .25rem;
        border-radius: 50%;
        border: .15rem solid #222;
        transition: border-color .2s;
    }
    .peer-list .peer.active .color {
        border-color: white;
    }
    .peer-list .peer .name {
        flex-grow: 1;
        margin-left: .25rem;
    }
    .peer-list .peer.self .name {
        color: white;
    }
    .peer-list .peer.highlight .name {
        font-style: italic;
    }
    .peer-list .peer em {
        font-style: normal;
}

.game-graph {
        background: #181818;
    }
    .game-graph svg {
        display: block;
    }
    .game-graph svg:active {
        cursor: -webkit-grabbing;
    }
    .game-graph svg:not(:active) > * {
        transition: transform .3s;
    }
    .game-graph svg .node {
        stroke: #111;
        stroke-width: 1px;
    }
    .game-graph svg .node.hover {
        stroke: #777;
        stroke-width: 2px;
    }
    .game-graph svg .node.current {
        stroke: #eee;
        stroke-width: 2px;
}

.chat-box {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: hidden;
}

.chat-log {
        padding: 1px 1rem 1rem;
        overflow: auto;
        list-style: none;
    }
    .chat-log li {
        display: block;
    }
    .chat-log .from {
        display: block;
        margin: 1rem 0 .2rem;
        text-transform: uppercase;
        font-size: .7rem;
        color: #555;
}

.chat-input {
        position: relative;
        background: #181818;
    }
    .chat-input input {
        padding: 0 1rem;
        border: none;
        width: 100%;
        padding: .25rem 1rem;
        border: 2px solid transparent;
        background: transparent;
        color: inherit;
        font: inherit;
        transition: border .2s;
    }
    .chat-input input:focus {
        outline: none;
        border: 2px solid #0082F0;
}
